@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model HalloDoc_DAL.ViewModels.PatientViewModels.ViewLogin

<section class="min-vh-100 d-flex justify-content-center ">
    <div class="min-vh-100 mt-4 d-flex flex-column justify-content-between align-items-center">
        <div class="">
            <img src="~/images/logo-PhotoRoom.png-PhotoRoom.png" class="img-fluid" id="logo">
        </div>
        <div>
            
            <h2 class=" text-center py-2 ml-0 pl-0">Reset Your Password</h2>
            @ViewBag.email
            <form class="w-100" id="form-login" asp-controller="Login" asp-action="SavePass" method="post">
                <div id="error">Password mismatched</div>
                <div class="form-floating mb-3 w-100 ">
                    <input type="hidden" asp-for="Email"  class="form-control bg-transparent" id="floatingInput"
                           placeholder="Username" required>
                    <label for="floatingInput" class="text-muted"></label>
                </div>
                <div class="form-floating mb-3 w-100">
                    <input asp-for="Password"  type="password" class="form-control bg-transparent" id="Password"
                           placeholder="Password">
                    <label for="floatingPassword" class="text-muted">Password</label>
                </div>
                <div class="form-floating mb-3 w-100">
                    <input asp-for="ConfirmPassword" onkeyup="ppd();" type="password" class="form-control bg-transparent" id="ConfirmPassword"
                           placeholder="ConfirmPassword">
                    <label for="floatingPassword" class="text-muted">ConfirmPassword</label>
                </div>
                <div class="pt-1 my-4">
                    <input type="submit" id="submitButton" class="btn btn-info btn-lg btn-block text-white card-text w-100" value="Reset Password">
                </div>
                

            </form>
        </div>
        <div class="d-flex justify-content-around mb-4">
            <a href="#" class="text-decoration-none text-muted">Terms of condition</a>
            <p>&nbsp | &nbsp</p>
            <a href="#" class="text-muted text-decoration-none">Privacy policy</a>
        </div>
    </div>
    <button type="button" class="btn btn-outline-info m-3 " style="position: absolute; top:1rem; right: 1rem;"
            id="theme-button">
        <i class="fa fa-moon-o " aria-hidden="true"></i>
    </button>
</section>

@section Scripts{

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <script>


         function ppd() {
             var password = $("#Password").val();
             var confirm_password = $("#ConfirmPassword").val();
             console.log($("#Password").val());
             if (password != confirm_password) {
                 $("#ConfirmPassword").css('border-color', "red");
                 $("#error").show();
                console.log($("#Password").val());

             }
             else {
                console.log($("#Password").val());

                 $("#ConfirmPassword").css('border-color', "green");
                 $("#error").hide();
             }
         }

         ppd();
    </script>
}