
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="modal fade" id="Encounterpopup" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <h1 class="modal-title text-light  fs-5" id="exampleModalLabel">Encounter Form</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div>Encounter Form is Finalize successfully ...... !!!</div>
                    <button type="" class="btn btn-info text-light" value="Download">
                   
            </div>
        </div>
    </div>
</div>