
<div class="shadow-lg ">
    <hr class="m-0">
    <div>
        <ul id="tab_toggle" class="nav nav-tab">
            <li class=" active">
                <a data-toggle="tab" class="text-muted tab_link nav-link " aria-current="page" asp-action="Index" asp-controller="Dashboard">Dashboard</a>
            </li>
            <li class="">
                <a data-toggle="tab" class="text-muted tab_link nav-link" asp-action="Index" asp-controller="Profile">Profile</a>
            </li>
        </ul>
    </div>
</div>